/HM2409-19-HONDA-ADEQUAÇÃO CIVIL DA SOLDA HCA3 NOVO LAYOUT - NOUKAKO-Rev05.xlsx
/orcamento.db
/temp_sinapi_composicoes.xlsx
/temp_sinapi_insumos.xlsx
venv/
__pycache__/
sinapi/
.env
venv/
orcamento.db